{{- if .Values.ingress.enabled -}}
{{- $namespace := default .Release.Namespace .Values.namespace.name -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "gestao-financeira.fullname" . }}
  namespace: {{ $namespace | quote }}
  labels:
    {{- include "gestao-financeira.labels" . | nindent 4 }}
    app.kubernetes.io/component: application
  {{- if or .Values.ingress.className .Values.ingress.annotations }}
  annotations:
    {{- if .Values.ingress.className }}
    kubernetes.io/ingress.class: {{ .Values.ingress.className | quote }}
    {{- end }}
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path | quote }}
            pathType: {{ .pathType | default "Prefix" }}
            backend:
              service:
                name: {{ include "gestao-financeira.fullname" $ }}
                port:
                  number: {{ .servicePort | default $.Values.app.service.port }}
          {{- end }}
    {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- toYaml .Values.ingress.tls | nindent 4 }}
  {{- end }}
{{- end -}}
