<section class="section-block">
  <div class="panel">
    <div class="panel-title">
      <h2>Ops, algo deu errado</h2>
      <p><%= message %></p>
    </div>
    <div>
      <a href="/dashboard" class="btn">Voltar ao dashboard</a>
    </div>
  </div>
</section>
