name: Build & Push (GHCR)

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    # Permissões necessárias para publicar em GHCR
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login no GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/jgpjuniorj/gestao-financeira-hlg:1
            ghcr.io/jgpjuniorj/gestao-financeira-hlg:${{ github.sha }}
            ghcr.io/jgpjuniorj/gestao-financeira-hlg:main